@import '../../_theme.scss';

.reportpage {
  // background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  font-family: $font__main;
}

.text-wrapper h1 {
  height: 35px;
  margin: 20px 0;
}

.report-container {
  padding: 0 30px;
  width: 100%;
}

.select-wrapper {
  margin-top: 30px;
}

.reportpage h1 {
  width: 100%;
  text-align: center;
  font-weight: 100;
  color: white;
  font-size: 34px;
  margin-bottom: 0;
  align-items: flex-end;
}

.reportpage h2 {
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  color: white;
  margin: 0 auto;
}

fieldset {
  border: none;
  width: 100%;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.selector {
  margin: 0 auto;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  width: 96%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

.selector::after {
  color: white;
}

.report-form {
  width: 100%;
  margin-top: 20px;
}

textarea {
  width: 95%;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-weight: 100;
}

textarea::placeholder {
  color: white;

}

.reportpage a {
  width: 100%;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

a {
  color: white;
}
.list{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 300px;
}
.checkin {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-family: $font__main;
  font-size: 36px;
  font-weight: 100;
  padding-top: 30px;
  width: 100%;
}

// invalid and valid recognizer
.ng-invalid.submitting fieldset input.ng-invalid,
.ng-invalid.submitting fieldset select.ng-invalid {
  animation: blur .5s infinite;
}

@keyframes blur {
  0% {
    box-shadow: 0px 0px 3px 1px rgba(177, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 0px 3px 9px rgba(177, 0, 0, 0.5);
  }
}

.ng-invalid.textarea fieldset input.ng-invalid,
.ng-invalid.textarea fieldset select.ng-invalid {
  animation: blur .5s infinite;
}

@keyframes blur {
  0% {
    box-shadow: 0px 0px 3px 1px rgba(177, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 0px 3px 9px rgba(177, 0, 0, 0.5);
  }
}
