.app-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(#393535, #e57676);
  height: 100vh;
}

.notfound {
  visibility: hidden;
}

.app-main h1 {
  color: white;
  font-weight: 100;
  width: 100%;
  font-size: 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

// a {
//   width: 200px;
//   height: 200px;
//   border-radius: 300px;
//   margin: 40px 0;
//   background-color: rgba(255, 255, 255, 0.2);
// }

.app-main p {
  width: 100%;
  text-align: center;
  font-weight: 100;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.page {
  // visibility: hidden;
  color: black;
}


a{
   width: 300px;
  height: 300px;
  border-radius: 300px;
  margin: 40px 0;
  background-color: rgba(255, 255, 255, 0.1);
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    filter: opacity(.1);
  }
  100% {
    filter: opacity(.5);
  }
}