@import '../../_theme.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0 30px;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 30px;
  height: 160px;
}

.registerpage {
  height: 100vh;
  padding: 0 40px;
}

.register-form {
  height: 200px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.registerpage h1 {
  width: 100%;
  color: white;
  font-family: $font__main;
  font-size: 38px;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  padding-top: 26px;
}

input {
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

input:invalid {
  height: 50px;
  animation: blur 1s infinite;
}

input::placeholder {
  font-size: 18px;
  color: $color__pink;
  padding-left: 10px;
}

fieldset {
  margin-top: 50px;
}

.selector {
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ed4343;
  padding-left: 5px;
}

.select-wrapper {
  height: 30px;
  border-radius: 0;
  // animation: blur 1s infinite;
}

button {
  margin-top: 20px;
}

.selector::after {
  color: white;
}

.btn {
  border: none;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 200px;
}

.checkin {
  text-decoration: none;
  color: white;
  font-family: $font__main;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

button {
  width: 100%;
}

// invalid and valid recognizer
.ng-invalid.submitting fieldset input.ng-invalid,
.ng-invalid.submitting fieldset select.ng-invalid {
  border-radius: 0px;
  animation: blur 1s infinite;
}

@keyframes blur {
  0% {
    box-shadow: 0px 0px 3px 1px rgba(177, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 0px 3px 9px rgba(177, 0, 0, 0.5);
  }
}
